<!DOCTYPE html>
<html lang="en">
<head>
    <title>Stats</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1>Quiz Statistics</h1>
    <p>Last Streak: <%= lastStreak %></p>
    <p>Current Streak: <%= currentStreak %></p>
    <a href="/" class="button">Back to Home</a>

</body>
</html>
