<!--
Description:
Author: Nicole Sparkes
Date:
-->

<!DOCTYPE html>
<html>
    <head>
        <title>Math Quiz</title>
        <link rel="stylesheet" type="text/css" href="styles.css">
    </head>
    <body>
        <h1>Math Quiz</h1>
        <% if (lastStreak > 0) { %>
            <p>Last Streak: <%= lastStreak %></p>
          <% } else { %>
            <p>No previous streak.</p>
          <% } %>
          <a href="/quiz?new=true">Start New Quiz</a>
    </body>
</html>